<h1>Lesson Plans</h1>

{{#if lessons}}
<ul>
    {{#each lessons }}
    <li>
        <a href="/lesson/{{id}}">{{title}}</a>

    </li>
    {{/each}}
</ul>
{{/if}}

<a href="/lesson/new">Add a new Lesson</a>