<h2>Lesson Plans</h2>

{{#if lessons}}
<ul>
    {{#each lessons }}
    <li>
        <a href="/lesson/{{id}}"> {{title}}</a>

    </li>
    {{/each}}
</ul>
{{/if}}

<br>
<br>

<form class="waves-effect waves-light btn-large" action="/lesson/{{lesson.id}}/new" method="get">
    <input type="submit" value="Add Lessons">
</form>