<h1>Lesson Plans</h1>

{{#if lessons}}
<ul>
    {{#each lessons }}
    <li>
        <a href="/lesson/{{id}}">gg{{title}}</a>

    </li>
    {{/each}}
</ul>
{{/if}}

<br>
<br>

<form action="/lesson/{{lesson.id}}/lesson/new" method="get">
    <input class="waves-effect waves-light btn-large" type="submit" value="Add Lessons">
</form>